// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fas.fa-check-square {
  color: green;
  font-size: 15px;
}

.fas.fa-times {
  color: red;
  font-size: 15px;
}

.fas.fa-trash-alt {
  color: gray;
  font-size: 12px;
}
